<!--
<div id="menu-wrapper" class="closed">
      <ul id="menu">
        <li><a href="/startups">Home</a></li>
        <li><a href="/startups/new">New Startup</a></li>
        <li><a href="#">Verticals</a></li>
      </ul>
    </div> -->