
<div class="welcome">
	<img src="/images/ga.png" alt="HTML5 Icon">
	<h1>Ventures</h1>
	<p>Discover Startups to Work For</p>
	<br>
	<br>
	<div id="intro">
		<a href="/users/new">Sign Up</a>
		<a href="/users/login">Log In</a>
	</div>
</div>
